* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --font-size: 1rem;
    --section-padding-left-right: 5%;
    --section-padding: 150px var(--section-padding-left-right) 100px;
    --padding-default: 15px;
    --small-margin: 10px;
    --mid-margin: 30px;
    --background-light-color: rgb(238, 240, 244);
    --background-dark-color: rgb(22, 22, 22);
    --background-color: var(--background-light-color);
    --text-color: #432000;
    --list-background-color: #FFFDF8;
    --list-hover-color: black;
    --radius-size: 8px;
    --picture-height: 9.375rem;
    --border-line-color: rgb(189, 189, 189);
    --icon-color: rgba(0, 0, 0, 0.5);
}

html, body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: var(--background-color);
    -webkit-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .3s ease-out;
}

body.dark {
    --background-color: var(--background-dark-color);
    --text-color: #ffffff;
    --list-background-color: #565656;
    --border-line-color: rgba(78,78,78,1);
    --icon-color: var(--text-color);
}

.section-plr {
    padding-left: var(--section-padding-left-right);
    padding-right: var(--section-padding-left-right);
}

.plr-15{
    padding: 0 15px;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    background-color: aqua;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

header,
header .logo-side,
header .nav-side {
    height: 50px;
}

header .logo-side,
header .nav-side {
    display: inline-flex;
    position: relative;
    justify-content: space-between;
    place-items: center;
    gap: 10px;
}

header .logo-side img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

header .logo-side a {
    font-size: .875rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

main {
    height: 100vh;
    /* width: 100%; */
    z-index: 0;
}

section {
    width: 100%;
    height: 100vh;
    padding: var(--section-padding);
    box-sizing: border-box;
}

.hero {
    display: block;
    position: relative;
    min-height: 480px;
    /* max-height: 93.50%; */
    background-color: #494746;
    /* background-image: url("./img/my_old_pic.jpg"); */
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: flex-start;
}

.dots-overlay {
    display: block;
    position: absolute;
    background-color: #ffffff00;
    opacity: 1;
    background-image: radial-gradient(#494746 0.75px, transparent 0.75px), 
                      radial-gradient(#494746 0.75px, #ffffff00 0.75px);
    background-size: 10px 10px;
    background-position: 0 0,5px 5px;
    /* background-repeat: repeat-y; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}


.section-content{
    display: block;
    position: relative;
    height: 100%;
    top: 0;
    left: 0;
}

.section-text,
.section-image {
    display: inline-block;
    position: relative;
}

.section-text {
    width: 50%;
    top: calc(15vh + 10%);
}

.section-content span {
    font-size: 1.5rem;
}
.section-content h1 {
    font-size: 3.5rem;
}

.section-text span,
.section-text h1,
.section-text h3 {
    margin: 0;
    line-height: 1.1;
}
.section-text h1 {
    margin: 8px 0 1.5rem;
}


.section-right{
    background-color: beige;
}


@media screen and (max-width: 375px) {
    :root {
        --max-content-width: calc(100vw - 30px);
    }
    .section-text {
        width: 100%;
        top: 0;
    }
}